/* ---

   _                  
 _| |_ _ __ _   _  ___ ®
|_   _| '__| | | |/ _ \
  | |_| |  | |_| |  __/
   \__|_|   \__,_|\___|

F A B R I C A T I O N S                


--- */


/* ~~~Google Fonts~~~ */

@import url(http://fonts.googleapis.com/css?family=Nunito:300);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600);
@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100);
@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
@import url(http://fonts.googleapis.com/css?family=Pathway+Gothic+One);
@import url(http://fonts.googleapis.com/css?family=EB+Garamond);
@import url(http://fonts.googleapis.com/css?family=Khula:400,300);
@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400);
@import url(http://fonts.googleapis.com/css?family=Raleway:200,300);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:300,700,100,400);


/* ~~~Links~~~ */

/* unvisited link */
a:link {
    color: #B0BC22;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #B0BC22;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #c4d333;
    text-decoration: none;
}

/* selected link */
a:active {
    color: #B0BC22;
    text-decoration: none;
}

/* body text */

.tfBodyText {
  font-family: Helvetica, Arial, sans-serif;
  color: #666666;
  margin-left: 0px;
  margin-right: 0px;
  text-rendering: optimizelegibility;
}

/* page titles */
.tfBodyText h2{
  font-family: 'Montserrat', sans-serif;  
  margin-bottom: .5em;
}

/* main headings */
.tfBodyText h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  color: #666666;
  font-weight: 300;
}

/* sub-headings */
.tfBodyText h4{
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* tbd */
.tfBodyText h5{
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* alternate sub-headings */
.tfBodyText h6{
  font-size: 1.25em;
  font-family: 'Montserrat', sans-serif;
  color: #b0bc22;
  font-weight: normal;
  margin-top: 1em;
  margin-bottom: .25em;
}

.tfBodyText ul{
  font-size: 1.25em;
  line-height: 25px;
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: sans-serif;
}

.tfBodyText p{
  font-size: 1em;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  color: #666666;
  line-height: 18px;
}



/* ~~~ Panels ~~~ */

.tfPanelsContainer {
  display: inline-block;
  text-align: justify;
  width: 100%;
}

.tfTwoPanels{
  position: relative; 
  display: inline-block; 
  width: 46%; 
  vertical-align: top;
  margin: 0px auto;
}

.tfTwoPanels p {
  text-align: left;
}

.tfThreePanels{
  position: relative; 
  display: inline-block;
  width: 31%; 
  vertical-align: top;
  margin: 0px auto;
  text-align: center;
}

.stretch {
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0;
}

.tfThreePanels img {
  width: 100%;
}

.tfFourPanels{
  vertical-align: top;
  width: 24%;
  min-width: 150px;
  display: inline-block;
  text-align: center;
}

.brandBody {
  display: inline-block;
  text-align: center;
}

.brandLogo {
  margin: 0 auto;
}

.brandLogo img {
  width: 10%;
  margin-left: auto;
  margin-right: auto;
}

.truefabButton1 {
color: #fff !important;
display: inline-block;
position: relative;
border: none;
font-family: 'Nunito', "Helvetica Neue",Arial,Helvetica,sans-serif;
font-size: 16px;
line-height: 1.6875;
font-weight: bold;
text-align: center;
letter-spacing: .02em;
text-decoration: none;
padding: 0.57143em 1.42857em;
max-width: 100%;
-webkit-font-smoothing: antialiased;
-webkit-border-radius: 4px 4px 4px 4px;
-moz-border-radius: 4px 4px 4px 4px;
border-radius: 4px 4px 4px 4px;
-o-transition: all 0.2s ease;
-moz-transition: all 0.2s ease;
-webkit-transition: all 0.2s ease;
transition: all 0.2s ease;
background: #B7B7B7;
}
.truefabButton1:hover {
  opacity: 0.85;
  filter: alpha(opacity=85);
  -o-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;

}

.viskiButton1 {
color: #fff;
display: inline-block;
position: relative;
border: none;
font-family: 'Nunito', "Helvetica Neue",Arial,Helvetica,sans-serif;
font-size: 14px;
line-height: 1.6875;
font-weight: bold;
text-align: center;
letter-spacing: .02em;
text-decoration: none;
padding: 0.57143em 1.42857em;
max-width: 100%;
-webkit-font-smoothing: antialiased;
background: #B7B7B7;
}

.sidebarContainer{
  width: 20%;
  display: inline-block;
  height: 100%;
  float: left;
}


.sidebar
{
  float: left;
  width: 100%;
  position: fixed;
  display: inline-block;
}

  .sidebar ul {
    list-style-type: none;
    margin-left: 0px;
  }

  .sidebar li {
    font-family: 'Helvetica', 'Arial', sans-serif;
    letter-spacing: .02em;
    font-size: .9em; 
    line-height: 1.75em;
    font-weight: 300;
  }

  .sidebar h5 {
    font-family: 'Montserrat', sans-serif;
    color: #666666;
    letter-spacing: .03em;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.1em; 
    line-height: 2em;
    font-weight: 100;
  }

      .sidebar a {
    color: #666666;
  }

        .sidebar a:hover {
    color: #B0BC22;
  }

  .bodyEnd{
    clear:both;
  }

  .tfHidden{
    display: none;
  }

/* ----Individual Pages----- */

#hostpage {
  font-family: 'Montserrat', sans-serif;
  text-align: center;

}

  #hostpage h1 {
    font-size: 4em;
    color: #b0bc22;
    margin-top: 1em;
  }

  #hostpage h2 {
    font-size: 1.5em;
    color: #b0bc22;
  }

  #hostpage h3 {
    font-size: 1.5em;
    color: #666666;
  }

  #hostpage p {
    color: #666666;
  }

  #hostpage img {
    width: 100%;
  }



#faq{
   max-width: 600px;
   float: none; 
   margin-left: 200px;
   display: inline-block;
   width: 70%;

}

#faq h4{
  margin-top: 2.5em;
  margin-bottom: 2em;
}

#shipping {
  max-width: 600px; 
  float: none; 
  display: inline-block;
  width: 70%;

}

#guarantee {
  max-width: 800px; 
  float: none; 
  display: inline-block;
  width: 70%;

}

#guarantee h3 {
  text-align: center;
}

#brands {
  max-width: 800px; 
  float: none; 
  display: inline-block;
  width: 70%;

}

#brands {
  text-align: center;
}

#who {
  max-width: 800px; 
  margin: auto;
  display: inline-block;
  width: 70%;
  float: none;
}

#who h3{
  text-align: center;
}

#returns {
  max-width: 800px; 
  float: none; 
  display: inline-block;
  width: 70%;

}

#contact {
  float: none; 
  display: inline-block;
  width: 70%;

}

#ViskiPage {
  max-width: 800px; 
  display: inline-block;
  width: 70%;
  float: none;
}


/* --- Mobile Optimize --- */

@media screen and (max-width: 760px) {

  #faq {
    width: auto;
    margin-left: 0px;
  }

  #who {
    width: auto;
    margin-left: 0px;
  }

  #returns {
    width: auto;
    margin-left: 0px;
  }

  #guarantee {
    width: auto;
    margin-left: 0px;
  }

  #brands {
    width: auto;
    margin-left: 0px;
  }

  #shipping {
    width: auto;
    margin-left: 0px;
  }

  #ViskiPage {
    width: auto;
    margin-left: 0px;
  }

  #viski {
    width: auto;
    margin-left: 0px;
  }

  .tfBodyText{
    width: auto;
  }

  .sidebar {
    width: 100%;
    text-align: left;
    position: relative;
  }

    .sidebar li {
      margin-bottom: 0px;
      border-bottom: 1px solid #ccc;
      width: 102%;
      margin-left: -20px;
      padding-left: 20px;
    }

  .tfTwoPanels{
    width: 100%;
    display: block;
    background: transparent;
    padding:0;
  }

  .mobileDisappear h1, .mobileDisappear h2, .mobileDisappear h3, .mobileDisappear h4, .mobileDisappear p, .mobileDisappear img {
    position: fixed;
    left: -9999px;
    color: red;
  }
a
  .tfThreePanels{
    width: 100%;
    display: block;
    background: transparent;
    padding:0;
  }

  .tfFourPanels{
    width: 100%;
    display: block;
    background: transparent;
    padding:0;
  }

  .truefabButton1{
    width: 100%;
  }
  .viskiButton1{
    width: 100%;
  }

  /* ~~~True Slider~~ */

  /* ~~~Viski Slider Styles~~~ */

.viskiSlide {
  width: 100%;
  text-align: center;
}
.viskiSlide h4 {
  font-size: 3em;
  font-weight: 100!important;
  letter-spacing: .03em;
  color: #ffffff;
  font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
  margin-bottom: 8%;
}

.viskiSlide p {
  font-size: 1.3em;
  line-height: 1.5em;
  letter-spacing: .06em;
  color: #ffffff;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 200;
}

.viskiSlide button {
  text-align: center;
  margin-top: 5%;
  border-style: solid;
  border-width: 2px;
  color: #ffffff;
  border-color: #ffffff;
  letter-spacing: .08em;
  background-color: transparent;
  font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
  font-size: 1.3em;
  font-weight: 100;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  -o-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}

  .viskiSlide button:hover {
  color: #444444;
  background-color: #ffffff;
  -o-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;

.center {
    margin-left: auto;
    margin-right: auto;
}

/* ~~~Host Slider Styles~~~ */

.hostSlide {
  width: 100%;
  text-align: center;
}
.hostSlide h4 {
  font-size: 3em;
  font-weight: 100!important;
  letter-spacing: .03em;
  color: #ffffff;
  font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
  margin-bottom: 8%;
}

.hostSlide p {
  font-size: 1.3em;
  line-height: 1.5em;
  letter-spacing: .06em;
  color: #ffffff;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 200;
}

.hostSlide button {
  text-align: center;
  margin-top: 5%;
  border-style: solid;
  border-width: 2px;
  color: #ffffff;
  border-color: #ffffff;
  letter-spacing: .08em;
  background-color: transparent;
  font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
  font-size: 1.3em;
  font-weight: 100;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  -o-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}

  .hostSlide button:hover {
  color: #444444;
  background-color: #ffffff;
  -o-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}
